@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-irE-gMm06iCl_font-family: "Inter", sans-serif;
  --mixin-irE-gMm06iCl_font-size: 16px;
  --mixin-irE-gMm06iCl_font-weight: 400;
  --mixin-irE-gMm06iCl_font-style: normal;
  --mixin-irE-gMm06iCl_color: #535353;
  --mixin-irE-gMm06iCl_text-align: left;
  --mixin-irE-gMm06iCl_text-transform: none;
  --mixin-irE-gMm06iCl_line-height: 1.5;
  --mixin-irE-gMm06iCl_letter-spacing: normal;
  --mixin-irE-gMm06iCl_white-space: pre-wrap;
  --mixin-irE-gMm06iCl_user-select: text;
  --mixin-irE-gMm06iCl_text-decoration-line: none;
  --mixin-irE-gMm06iCl_text-overflow: clip;
  --mixin-b4okgMus5WFm_color: #000000;
  --mixin-b4okgMus5WFm_font-weight: 700;
  --mixin-b4okgMus5WFm_font-size: 64px;
  --mixin-b4okgMus5WFm_line-height: 1;
  --mixin-b4okgMus5WFm_letter-spacing: -1px;
  --mixin-b4okgMus5WFm_white-space: pre-wrap;
  --mixin-4wz7rSMvloft_color: #000000;
  --mixin-4wz7rSMvloft_font-size: 48px;
  --mixin-4wz7rSMvloft_font-weight: 700;
  --mixin-4wz7rSMvloft_letter-spacing: -0.5px;
  --mixin-4wz7rSMvloft_line-height: 1.1;
  --mixin-4wz7rSMvloft_white-space: pre-wrap;
  --mixin-CDUlPnRQiy41_color: #0070f3;
  --mixin-CDUlPnRQiy41_white-space: pre-wrap;
  --mixin-HgiSfDFC57jX_color: #000000;
  --mixin-HgiSfDFC57jX_font-size: 32px;
  --mixin-HgiSfDFC57jX_font-weight: 600;
  --mixin-HgiSfDFC57jX_line-height: 1.2;
  --mixin-HgiSfDFC57jX_white-space: pre-wrap;
  --mixin-9k4bijVKfOuq_color: #000000;
  --mixin-9k4bijVKfOuq_font-size: 24px;
  --mixin-9k4bijVKfOuq_font-weight: 600;
  --mixin-9k4bijVKfOuq_line-height: 1.3;
  --mixin-9k4bijVKfOuq_white-space: pre-wrap;
  --mixin-eCER9WbRFTa4_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-eCER9WbRFTa4_border-bottom-color: #dddddd;
  --mixin-eCER9WbRFTa4_border-bottom-style: solid;
  --mixin-eCER9WbRFTa4_border-bottom-width: 1px;
  --mixin-eCER9WbRFTa4_border-left-color: #dddddd;
  --mixin-eCER9WbRFTa4_border-left-style: solid;
  --mixin-eCER9WbRFTa4_border-left-width: 1px;
  --mixin-eCER9WbRFTa4_border-right-color: #dddddd;
  --mixin-eCER9WbRFTa4_border-right-style: solid;
  --mixin-eCER9WbRFTa4_border-right-width: 1px;
  --mixin-eCER9WbRFTa4_border-top-color: #dddddd;
  --mixin-eCER9WbRFTa4_border-top-style: solid;
  --mixin-eCER9WbRFTa4_border-top-width: 1px;
  --mixin-eCER9WbRFTa4_border-bottom-left-radius: 3px;
  --mixin-eCER9WbRFTa4_border-bottom-right-radius: 3px;
  --mixin-eCER9WbRFTa4_border-top-left-radius: 3px;
  --mixin-eCER9WbRFTa4_border-top-right-radius: 3px;
  --mixin-eCER9WbRFTa4_font-family: "Inconsolata";
  --mixin-eCER9WbRFTa4_padding-bottom: 1px;
  --mixin-eCER9WbRFTa4_padding-left: 4px;
  --mixin-eCER9WbRFTa4_padding-right: 4px;
  --mixin-eCER9WbRFTa4_padding-top: 1px;
  --mixin-eCER9WbRFTa4_white-space: pre-wrap;
  --mixin-z69NexAty7u7_border-left-color: #dddddd;
  --mixin-z69NexAty7u7_border-left-style: solid;
  --mixin-z69NexAty7u7_border-left-width: 3px;
  --mixin-z69NexAty7u7_color: #888888;
  --mixin-z69NexAty7u7_padding-left: 10px;
  --mixin-z69NexAty7u7_white-space: pre-wrap;
  --mixin-VJb9L6uzFdJT_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-VJb9L6uzFdJT_border-bottom-color: #dddddd;
  --mixin-VJb9L6uzFdJT_border-bottom-style: solid;
  --mixin-VJb9L6uzFdJT_border-bottom-width: 1px;
  --mixin-VJb9L6uzFdJT_border-left-color: #dddddd;
  --mixin-VJb9L6uzFdJT_border-left-style: solid;
  --mixin-VJb9L6uzFdJT_border-left-width: 1px;
  --mixin-VJb9L6uzFdJT_border-right-color: #dddddd;
  --mixin-VJb9L6uzFdJT_border-right-style: solid;
  --mixin-VJb9L6uzFdJT_border-right-width: 1px;
  --mixin-VJb9L6uzFdJT_border-top-color: #dddddd;
  --mixin-VJb9L6uzFdJT_border-top-style: solid;
  --mixin-VJb9L6uzFdJT_border-top-width: 1px;
  --mixin-VJb9L6uzFdJT_border-bottom-left-radius: 3px;
  --mixin-VJb9L6uzFdJT_border-bottom-right-radius: 3px;
  --mixin-VJb9L6uzFdJT_border-top-left-radius: 3px;
  --mixin-VJb9L6uzFdJT_border-top-right-radius: 3px;
  --mixin-VJb9L6uzFdJT_font-family: "Inconsolata";
  --mixin-VJb9L6uzFdJT_padding-bottom: 3px;
  --mixin-VJb9L6uzFdJT_padding-left: 6px;
  --mixin-VJb9L6uzFdJT_padding-right: 6px;
  --mixin-VJb9L6uzFdJT_padding-top: 3px;
  --mixin-VJb9L6uzFdJT_white-space: pre-wrap;
  --mixin-VsKVQiwrUMNm_display: flex;
  --mixin-VsKVQiwrUMNm_flex-direction: column;
  --mixin-VsKVQiwrUMNm_align-items: stretch;
  --mixin-VsKVQiwrUMNm_justify-content: flex-start;
  --mixin-VsKVQiwrUMNm_list-style-position: outside;
  --mixin-VsKVQiwrUMNm_padding-left: 40px;
  --mixin-VsKVQiwrUMNm_position: relative;
  --mixin-VsKVQiwrUMNm_list-style-type: disc;
  --mixin-VsKVQiwrUMNm_white-space: pre-wrap;
  --mixin-CDwjo_ezvG2f_display: flex;
  --mixin-CDwjo_ezvG2f_flex-direction: column;
  --mixin-CDwjo_ezvG2f_align-items: stretch;
  --mixin-CDwjo_ezvG2f_justify-content: flex-start;
  --mixin-CDwjo_ezvG2f_list-style-position: outside;
  --mixin-CDwjo_ezvG2f_padding-left: 40px;
  --mixin-CDwjo_ezvG2f_position: relative;
  --mixin-CDwjo_ezvG2f_list-style-type: decimal;
  --mixin-CDwjo_ezvG2f_white-space: pre-wrap;
  --mixin-JbVfE9_2zN3A_color: #000000;
  --mixin-JbVfE9_2zN3A_font-size: 20px;
  --mixin-JbVfE9_2zN3A_font-weight: 600;
  --mixin-JbVfE9_2zN3A_line-height: 1.5;
  --mixin-JbVfE9_2zN3A_white-space: pre-wrap;
  --mixin-U1WLi7zm9uR-_color: #000000;
  --mixin-U1WLi7zm9uR-_font-size: 16px;
  --mixin-U1WLi7zm9uR-_font-weight: 600;
  --mixin-U1WLi7zm9uR-_line-height: 1.5;
  --mixin-U1WLi7zm9uR-_white-space: pre-wrap;
  --mixin-CQp7n7lS5So8_color: #3291ff;
  --mixin-CQp7n7lS5So8_white-space: pre-wrap;
  --mixin-P83Duv5CGM0O_white-space: pre-wrap;
  --mixin-l_J0p8Tn1t6D_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-irE-gMm06iCl_font-family);
  font-size: var(--mixin-irE-gMm06iCl_font-size);
  font-weight: var(--mixin-irE-gMm06iCl_font-weight);
  font-style: var(--mixin-irE-gMm06iCl_font-style);
  color: var(--mixin-irE-gMm06iCl_color);
  text-align: var(--mixin-irE-gMm06iCl_text-align);
  text-transform: var(--mixin-irE-gMm06iCl_text-transform);
  line-height: var(--mixin-irE-gMm06iCl_line-height);
  letter-spacing: var(--mixin-irE-gMm06iCl_letter-spacing);
  white-space: var(--mixin-irE-gMm06iCl_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-b4okgMus5WFm_color);
  font-weight: var(--mixin-b4okgMus5WFm_font-weight);
  font-size: var(--mixin-b4okgMus5WFm_font-size);
  line-height: var(--mixin-b4okgMus5WFm_line-height);
  letter-spacing: var(--mixin-b4okgMus5WFm_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-4wz7rSMvloft_color);
  font-size: var(--mixin-4wz7rSMvloft_font-size);
  font-weight: var(--mixin-4wz7rSMvloft_font-weight);
  letter-spacing: var(--mixin-4wz7rSMvloft_letter-spacing);
  line-height: var(--mixin-4wz7rSMvloft_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-CDUlPnRQiy41_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-HgiSfDFC57jX_color);
  font-size: var(--mixin-HgiSfDFC57jX_font-size);
  font-weight: var(--mixin-HgiSfDFC57jX_font-weight);
  line-height: var(--mixin-HgiSfDFC57jX_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-9k4bijVKfOuq_color);
  font-size: var(--mixin-9k4bijVKfOuq_font-size);
  font-weight: var(--mixin-9k4bijVKfOuq_font-weight);
  line-height: var(--mixin-9k4bijVKfOuq_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-eCER9WbRFTa4_font-family);
  border-radius: var(--mixin-eCER9WbRFTa4_border-top-left-radius)
    var(--mixin-eCER9WbRFTa4_border-top-right-radius)
    var(--mixin-eCER9WbRFTa4_border-bottom-right-radius)
    var(--mixin-eCER9WbRFTa4_border-bottom-left-radius);
  padding: var(--mixin-eCER9WbRFTa4_padding-top)
    var(--mixin-eCER9WbRFTa4_padding-right)
    var(--mixin-eCER9WbRFTa4_padding-bottom)
    var(--mixin-eCER9WbRFTa4_padding-left);
  border-top: var(--mixin-eCER9WbRFTa4_border-top-width)
    var(--mixin-eCER9WbRFTa4_border-top-style)
    var(--mixin-eCER9WbRFTa4_border-top-color);
  border-right: var(--mixin-eCER9WbRFTa4_border-right-width)
    var(--mixin-eCER9WbRFTa4_border-right-style)
    var(--mixin-eCER9WbRFTa4_border-right-color);
  border-bottom: var(--mixin-eCER9WbRFTa4_border-bottom-width)
    var(--mixin-eCER9WbRFTa4_border-bottom-style)
    var(--mixin-eCER9WbRFTa4_border-bottom-color);
  border-left: var(--mixin-eCER9WbRFTa4_border-left-width)
    var(--mixin-eCER9WbRFTa4_border-left-style)
    var(--mixin-eCER9WbRFTa4_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-z69NexAty7u7_color);
  padding-left: var(--mixin-z69NexAty7u7_padding-left);
  border-left: var(--mixin-z69NexAty7u7_border-left-width)
    var(--mixin-z69NexAty7u7_border-left-style)
    var(--mixin-z69NexAty7u7_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-VJb9L6uzFdJT_font-family);
  border-radius: var(--mixin-VJb9L6uzFdJT_border-top-left-radius)
    var(--mixin-VJb9L6uzFdJT_border-top-right-radius)
    var(--mixin-VJb9L6uzFdJT_border-bottom-right-radius)
    var(--mixin-VJb9L6uzFdJT_border-bottom-left-radius);
  padding: var(--mixin-VJb9L6uzFdJT_padding-top)
    var(--mixin-VJb9L6uzFdJT_padding-right)
    var(--mixin-VJb9L6uzFdJT_padding-bottom)
    var(--mixin-VJb9L6uzFdJT_padding-left);
  border-top: var(--mixin-VJb9L6uzFdJT_border-top-width)
    var(--mixin-VJb9L6uzFdJT_border-top-style)
    var(--mixin-VJb9L6uzFdJT_border-top-color);
  border-right: var(--mixin-VJb9L6uzFdJT_border-right-width)
    var(--mixin-VJb9L6uzFdJT_border-right-style)
    var(--mixin-VJb9L6uzFdJT_border-right-color);
  border-bottom: var(--mixin-VJb9L6uzFdJT_border-bottom-width)
    var(--mixin-VJb9L6uzFdJT_border-bottom-style)
    var(--mixin-VJb9L6uzFdJT_border-bottom-color);
  border-left: var(--mixin-VJb9L6uzFdJT_border-left-width)
    var(--mixin-VJb9L6uzFdJT_border-left-style)
    var(--mixin-VJb9L6uzFdJT_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-VsKVQiwrUMNm_display);
  flex-direction: var(--mixin-VsKVQiwrUMNm_flex-direction);
  align-items: var(--mixin-VsKVQiwrUMNm_align-items);
  justify-content: var(--mixin-VsKVQiwrUMNm_justify-content);
  list-style-position: var(--mixin-VsKVQiwrUMNm_list-style-position);
  padding-left: var(--mixin-VsKVQiwrUMNm_padding-left);
  position: var(--mixin-VsKVQiwrUMNm_position);
  list-style-type: var(--mixin-VsKVQiwrUMNm_list-style-type);
  flex-column-gap: var(--mixin-VsKVQiwrUMNm_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-CDwjo_ezvG2f_display);
  flex-direction: var(--mixin-CDwjo_ezvG2f_flex-direction);
  align-items: var(--mixin-CDwjo_ezvG2f_align-items);
  justify-content: var(--mixin-CDwjo_ezvG2f_justify-content);
  list-style-position: var(--mixin-CDwjo_ezvG2f_list-style-position);
  padding-left: var(--mixin-CDwjo_ezvG2f_padding-left);
  position: var(--mixin-CDwjo_ezvG2f_position);
  list-style-type: var(--mixin-CDwjo_ezvG2f_list-style-type);
  flex-column-gap: var(--mixin-CDwjo_ezvG2f_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-JbVfE9_2zN3A_color);
  font-size: var(--mixin-JbVfE9_2zN3A_font-size);
  font-weight: var(--mixin-JbVfE9_2zN3A_font-weight);
  line-height: var(--mixin-JbVfE9_2zN3A_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-U1WLi7zm9uR-_color);
  font-size: var(--mixin-U1WLi7zm9uR-_font-size);
  font-weight: var(--mixin-U1WLi7zm9uR-_font-weight);
  line-height: var(--mixin-U1WLi7zm9uR-_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-CQp7n7lS5So8_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
